html {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  border-color: #f2f2f2;
}

h1 {
  border-bottom: 1px solid #000;
}

.btn:hover {
  background-color: #000;
}

@media only screen and (min-width: 60em) {

  .fitness {
    padding-left: .5rem;
  }

  .age {
    padding-left: .5rem;
  }


}
